<h1>Fatura #<%= @bill.number %></h1>
<p>Locadora Campus Code</p>
<%= @bill.contract.id %><br>
<%= @bill.contract.total_value %><br>
<% @bill.contract.rented_equipments.each do |rented_equipment| %>
  <%= rented_equipment.equipment %>
<% end %><br>
<%= @bill.contract.customer.name %><br>
<%= @bill.contract.customer.address %><br>
<%= @bill.contract.customer.cpf %><br>
<%= link_to 'Voltar', contracts_path %>
