<h1><%= @customer.name %></h1>
<p><%= @customer.cpf %></p>
<p><%= @customer.address %></p>
<p><%= @customer.rg %></p>
<p><%= @customer.phone %></p>
<p><%= @customer.cell %></p>
<p><%= @customer.email %></p>
<p><%= @customer.birthdate %></p>
