<h1><%= @customer.name %></h1>
<%= @customer.cpf %>
<%= @customer.address %>
<%= @customer.rg %>
<%= @customer.phone %>
<%= @customer.cell %>
<%= @customer.email %>
<%= @customer.birthdate %>
<%= link_to 'Voltar', customers_path %>
