<h1><%= @supplier.name %></h1>
<p><%= @supplier.address %></p>
<p><%= @supplier.cnpj %></p>
<p><%= @supplier.account_manager %></p>
<p><%= @supplier.company_name %></p>
<p><%= @supplier.email %></p>
<p><%= @supplier.phone %></p>
<p><%= @supplier.website %></p>
<p><%= @supplier.municipal_registration %></p>
<p><%= @supplier.state_registration %></p>
