<h1><%= @supplier.name %></h1>
<%= @supplier.address %>
<%= @supplier.cnpj %>
<%= @supplier.account_manager %>
<%= @supplier.company_name %>
<%= @supplier.email %>
<%= @supplier.phone %>
<%= @supplier.website %>
<%= @supplier.municipal_registration %>
<%= @supplier.state_registration %>
<%= link_to 'Voltar', suppliers_path %>
